/* LOGIN AND SIGNUP MODAL */
.form .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}



.form .form-section {
    position: fixed;
    background: #fff;
    margin: 0 auto;
    padding: 180px 0;
    left: 0;
    right: 0;
    max-width: 650px;
    z-index: 1;
}

.form .form-section.desktop {
    top: 30%;
}

.form .form-section .form_nav button {
    width: 50%;
    padding: 20px;
    background-color: #eee;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Montserrat;
}

.form .form-section .form_nav button.active {
    background-color: #e35b3c;
    color: #fff;
}

/* LOGIN AND REGISTER MODAL */
.form .form-section .form-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.form .form-section .form-container .input-container {
    width: 48%;
    margin: 0 10px 0 0;
}

.form .form-section .form-container .input-container label {
    color: #444;
    font-family: Montserrat;
    margin: 0 6px;
    font-size: 14px;
}

.form .form-section .register-modal, .login-modal {
    display: none;
    padding: 20px 25px 10px 25px;
}

.form .form-section .login-modal.show {
    display: block;
}

.form .form-section .register-modal.show {
    display: block;
}

.form .form-section #closeModal {
    position: absolute;
    top: 0;
    right: -30px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.form .form-section #closeModal:hover {
    color: #e35b3c;
}


.form .form-section .register-modal h2, .login-modal h2 {
    margin: 0 0 20px 0;
    font-size: 1.2em;
    font-family: Montserrat;
    text-transform: uppercase;
}

.form .form-section .register-modal input, .login-modal input {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

.form .login-modal button, .register-modal button {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: #e35b3c;
    border: 1px solid #e35b3c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}

.form .login-modal button:hover, .register-modal button:hover {
    opacity: 0.6;
}

/* SELECT TAG */
.form .form-container .input-container select {
    display: block;
    margin: 5px;
    padding: 9px;
    border: 1px solid #ddd;
    width: 100%;
    color: #888;
}

.form .form-container .input-container select option {
    font-weight: bold;
    color: #111;
    font-size: 15px;
}

.form .form-container .input-container select option:first-child {
    color: #888 !important;
    font-weight: normal;
}

/* Forgot password */
.form span#forgot {
    font-size: 13px;
    position: relative;
    top: -12px;
    right: 15px;
    float: right;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Montserrat;
}

.form .form-section .forgot-modal h3 {
    background-color: #e35b3c;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Montserrat;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.form .form-section .forgot-modal h2 {
    padding: 40px 20px;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
}

.form .form-section .forgot-modal .form-container {
    display: block;
    font-family: Montserrat;
    padding: 0 20px 30px 20px;
}

.form .form-section .forgot-modal .form-container .forgot-input-container label {
    color: #111;
}

.form .form-section .forgot-modal .form-container .forgot-input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin: 20px 0 0 0;
}

.form .form-section .forgot-modal .form-container button {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: #e35b3c;
    border: 1px solid #e35b3c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}

.form .form-section .forgot-modal .form-container p {
    text-align: center;
}

.form .form-section .forgot-modal .form-container p span {
    color: #e35b3c;
    cursor: pointer;
}