/* PROFILE PAGE SECTION */
.profile h1 {
    font-family: Montserrat;
    font-size: 1.7em;
    margin: 30px 0;
}

.profile .profile-section {
    display: flex;
    margin: 20px 0;
}

/* SECTION 1 */
.profile .profile-section .section-1 {
    width: 25%;
    background-color: #ebebeb;
    height: 100%;
}

.profile .profile-section .section-1 .img-box {
    background-color: #fff;
    margin: 30px 30px 10px 30px;
    display: flex;
    justify-content: center;
}

.profile .profile-section .section-1 img {
    width: 50%;
    padding: 20px 0;
}

.profile .profile-section .section-1 h3, h4 {
    margin: 15px 30px;
    text-transform: capitalize;
    font-family: Montserrat;
}

.profile .profile-section .section-1 h4 {
    font-weight: 200;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.profile .profile-section .section-1 ul li {
    list-style: none;
    background-color: #eee;
    padding: 2px 0;
}

.profile .profile-section .section-1 ul li .link {
    text-decoration: none;
    color: #111;
    padding: 13px 20px;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    transition: .3s;
}

.profile .profile-section .section-1 ul li .link:hover {
    background-color: #e35b3c;
    color: #fff;
    opacity: .8;
}

.profile .profile-section .section-1 ul li .link.active {
    background-color: #e35b3c;
    color: #fff;
    opacity: .8;
}

.profile .profile-section .section-1 ul li:last-child .link {
    background-color: #111;
    color: #fff;
}

/* SECTION 2 */
.profile .profile-section .section-2 .section {
    display: none;
}

.profile .profile-section .section-2 .section.active {
    display: block;
}

/* UREDI PROFIL SECTION */
.profile .profile-section .section-2 {
    width: 75%;
}

.profile .profile-section .section-2 .section {
    margin: 0 30px;
}

.profile .profile-section .section-2 .section .form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
}

.profile .profile-section .section-2 .section .form-container .input-container label {
    display: block;
    font-family: Montserrat;
}

.profile .profile-section .section-2 .section .form-container .input-container input, 
.profile .profile-section .section-2 .section .form-container .input-container select {
    display: block;
	margin: 5px 0;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #ddd;
	width: 100%;
	color: #888;
	font-family: Montserrat;
    border-radius: 6px;
}


.profile .profile-section .section-2 .section .form-container .input-container button {
    border: 0;
    background: #e35b3c;
    color: #fff;
    width: 100%;
    float: right;
    padding: 12px;
    position: relative;
    top: 22px;
    font-family: Montserrat;
    font-size: 16px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    transition: .3s;
}

.profile .profile-section .section-2 .section button:hover {
    opacity: .7;
}

/* MOJA VOZILA SECTION */
.moja-vozila .nav {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.moja-vozila .nav h3 {
    margin-left: 20px;
    font-family: Montserrat;
    color: #333;
}

.moja-vozila .nav .form-container {
    display: flex !important;
    padding: 10px !important;
}

.moja-vozila .moja-vozila-section .cars {
    display: block;
}

.moja-vozila .moja-vozila-section .cars .car {
    display: flex;
    height: 100px;
    position: relative;
    margin: 20px 0;
}

.moja-vozila .moja-vozila-section .cars .car .image-section img {
    width: 170px;
    height: 100%;
}

.moja-vozila .moja-vozila-section .cars .car .info-section {
    margin: 0;
    width: 50%;
}

.moja-vozila .moja-vozila-section .cars .car .price {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.moja-vozila .moja-vozila-section .cars .car .price span {
    font-size: 18px;
}