/* PROFILE PAGE SECTION */
.profile h1 {
    font-family: Montserrat;
    font-size: 1.7em;
    margin: 30px 0;
}

.profile .profile-section {
    display: flex;
    margin: 20px 0;
}

.profile .profile-section .section-1 {
    width: 300px;
    background-color: #ebebeb;
}

.profile .profile-section .section-1 .img-box {
    background-color: #fff;
    margin: 30px 30px 10px 30px;
    display: flex;
    justify-content: center;
}

.profile .profile-section .section-1 img {
    width: 50%;
    padding: 20px 0;
}

.profile .profile-section .section-1 h3, h4 {
    margin: 15px 30px;
    text-transform: capitalize;
    font-family: Montserrat;
}

.profile .profile-section .section-1 h4 {
    font-weight: 200;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.profile .profile-section .section-1 ul li {
    list-style: none;
    background-color: #eee;
    padding: 2px 0;
}

.profile .profile-section .section-1 ul li .link {
    text-decoration: none;
    color: #111;
    padding: 13px 20px;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    transition: .3s;
}

.profile .profile-section .section-1 ul li .link:hover {
    background-color: #e35b3c;
    color: #fff;
    opacity: .8;
}

.profile .profile-section .section-1 ul li .link.active {
    background-color: #e35b3c;
    color: #fff;
    opacity: .8;
}

.profile .profile-section .section-1 ul li:last-child .link {
    background-color: #111;
    color: #fff;
}