/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat&display=swap');
/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1150px;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: relative;
    display: block;
    top: 45vh;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.spinner .path {
    stroke: #93bfec;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

input:focus, select:focus {
  outline: none;
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
}

@media only screen and (max-width: 580px) {
  .container {
    margin: 9px auto;
  }
}