/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat&display=swap');
/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 100px;
    height: 100px;
}
.spinner .path {
    stroke: #93bfec;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
}
  

/* NAVIGATION SECTION */
nav {
    background: #fff;
    padding: 20px 0;
}
nav .nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-section h2 {
    font-size: 1.9em;
    font-family: 'Luckiest Guy';
}

nav .nav-section h2 span {
    color: #e35b3c;
}

nav .nav-section #user {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 1.2em;
    text-decoration: none;
    color: #111;
    transition: .2s;
}

nav .nav-section #user:hover {
    color: #e35b3c;
}

nav .nav-section #profile-icon {
    margin-right: 5px;
    font-size: 1.5em;
}

nav .nav-section ul {
    display: flex;
    list-style: none;
}

nav .nav-section .f-list {
    display: flex;
    align-items: center;
}

nav .nav-section .f-list .link{
    text-decoration: none;
    color: #111;
    margin: 0 20px;
    font-family: Montserrat;
    font-size: 1.1em;
    transition: .2s;
}

nav .nav-section .f-list .link:hover {
    color: #e35b3c;
}

nav .nav-section .s-list li #login, #register {
    text-decoration: none;
    color: #111;
    font-family: Montserrat;
    padding: 10px 20px;
    transition: .3s;
}

nav .nav-section .s-list li #login {
    margin-right: 20px;
}

nav .nav-section .s-list li #register {
    border: 1px solid #e35b3c;
    border-radius: 5px;
    color: #e35b3c;
}

nav .nav-section .s-list li #register:hover {
    background-color: #e35b3c;
    opacity: .7;
    color: #fff;
}

nav .nav-section .s-list li #login:hover {
    color: #e35b3c;
}

/* LOGIN AND SIGNUP MODAL */
.register-modal, .login-modal {
    position: fixed;
    background: #fff;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 400px;
    padding: 35px 30px;
    border-radius: 10px;
    display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

.overlay.show { display: block }

.register-modal #closeModal, .login-modal #closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: .3s;
}

.register-modal #closeModal:hover, .login-modal #closeModal:hover {
    color: #e35b3c;
}

.register-modal h2, .login-modal h2 {
    margin: 0 0 20px 0;
    font-size: 1em;
    font-family: Montserrat;
}

.register-modal input, .login-modal input {
    display: block;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

.login-modal button, .register-modal button {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: #e35b3c;
    border: 1px solid #e35b3c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}

.login-modal button:hover, .register-modal button:hover {
    opacity: 0.6;
}

.login-modal.show, .register-modal.show {
    display: block;
}


/* HEADER SECTION */
header {
    background-image: url('https://wallpapers-base.com/wp-content/uploads/2018/08/high_quality_wallpaper_HD_1080_IDS_1010101.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

/* PROFILE PAGE SECTION */
.profile h1 {
    font-family: Montserrat;
    font-size: 1.7em;
    margin: 30px 0;
}

.profile .profile-section {
    display: flex;
    margin: 20px 0;
}

.profile .profile-section .section-1 {
    width: 300px;
    background-color: #ebebeb;
}

.profile .profile-section .section-1 .img-box {
    background-color: #fff;
    margin: 30px 30px 10px 30px;
    display: flex;
    justify-content: center;
}

.profile .profile-section .section-1 img {
    width: 50%;
    padding: 20px 0;
}

.profile .profile-section .section-1 h3, h4 {
    margin: 15px 30px;
    text-transform: capitalize;
    font-family: Montserrat;
}

.profile .profile-section .section-1 h4 {
    font-weight: 200;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.profile .profile-section .section-1 ul li {
    list-style: none;
    background-color: #eee;
    padding: 2px 0;
}

.profile .profile-section .section-1 ul li .link {
    text-decoration: none;
    color: #111;
    padding: 13px 20px;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    transition: .3s;
}

.profile .profile-section .section-1 ul li .link:hover {
    background-color: #e35b3c;
    color: #fff;
    opacity: .8;
}

.profile .profile-section .section-1 ul li .link.active {
    background-color: #e35b3c;
    color: #fff;
    opacity: .8;
}

.profile .profile-section .section-1 ul li:last-child .link {
    background-color: #111;
    color: #fff;
}